.container{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: auto;
    grid-gap: 10px;

}
.container>div{
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
button{
    margin-bottom: 5px;
    width: 70%;
}



strike{
    padding-right:50px;
    padding-left: 30px;
    padding-top: 20px;
}
h4{
    padding-left: 10px;
}